---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">

{% if page.mathjax %}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true,
      processRefs: true,
      autoload: {
        color: [],
        colorV2: ['color']
      },
      packages: {'[+]': ['noerrors']}
    },
    options: {
      skipHtmlTags: [],
      ignoreHtmlClass: 'tex2jax_ignore',
      processHtmlClass: 'tex2jax_process'
    },
    startup: {
      ready() {
        MathJax.startup.defaultReady();
        console.log('MathJax is loaded and ready to go!');
        // Force reprocessing after page load
        setTimeout(() => {
          MathJax.typesetPromise();
        }, 1000);
      }
    },
    loader: {load: ['[tex]/noerrors']}
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<!-- Force re-typesetting after page loads -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  if (window.MathJax && MathJax.typesetPromise) {
    setTimeout(() => {
      MathJax.typesetPromise().then(() => {
        console.log('MathJax re-typesetting complete');
      }).catch((err) => console.log('MathJax typesetting failed: ' + err.message));
    }, 2000);
  }
});
</script>
{% endif %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>